// Variables for everything
@max-width: 960px;
@wrapper-width: 95%;
@orange: #DB613B;
@black: #000000;
@white: #ffffff;
@light-gray: #797979;
@dark-gray: #545454;

@font-color: @light-gray;
@theme-color: @orange;

// General Rules start
html {
    font-size: 14px;
    line-height: 1.2em;
}

body {
    margin: 0; // Remove that pesky default margin
    background-color: @white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: @font-color;
}

a {
    color: @theme-color;
}
// General rules end

header {
    height: 50px;
    
    nav {
        width: @wrapper-width;
        max-width: @max-width;
        margin: 0 auto;

        ul {
            position: relative;
            float: right;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                position: relative;
                list-style: none;
                float: left;

                a {
                    text-transform: uppercase;
                    padding: 0 15px;
                    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
                    font-size: 1.2em;
                    text-decoration: none;
                }
            }
        }
    }
}

// Main content
.body-wrapper {
    background: @theme-color;
    padding: 5px 0 20px 0;

    .body-content {
        width: @wrapper-width;
        margin: 0 auto;
        
        h1 {
            color: #ffffff;        
            font-size: 2.5em;
            font-weight: 700;
            text-shadow: 1px 1px 1px rgba(0,0,0,.2);
            letter-spacing: -2px;
            text-transform: uppercase;
        }
    
        article {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 5px #888888;
            padding: 10px;

            .deep-link {
                text-decoration: none;
                color: @dark-gray;

                h2 {
                    font-size: 2em;
                    font-weight: 400;
                }
            }
            
            img {
                width: 100%;
                border: 1px solid #e6e6e6;
                border-radius: 2px;
                box-shadow: 1px 1px 3px 1px rgba(0,0,0,.04);
            }
        }
    }
}

footer {
    width: @wrapper-width;
    margin: 0 auto;
}

@media screen and (min-width: 767px) {
    .body-content {
        max-width: @max-width;
    }
}