body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #DB613B;
}

img {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.04);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #ffffff;
    
    font-size: 36px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    letter-spacing: -2px;
}

article {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px #888888;
    padding: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (min-width: 767px) {

}