// Variables for everything
@max-width: 960px;
@wrapper-width: 95%;
@orange: #DB613B;
@black: #000000;
@white: #ffffff;
@light-gray: #797979;
@dark-gray: #545454;

@font-color: @light-gray;
@theme-color: @orange;

@menu-width: 170px;
@menu-link-padding: 15px;
@menu-line-height: 50px;
@menu-background-color: @white;
@menu-text-color: @orange;

// General Rules start
html {
    font-size: 14px;
    line-height: 1.2em;
}

body {
    margin: 0; // Remove that pesky default margin
    background-color: @white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: @font-color;
}

a, .toggle {
    color: @theme-color;
}
// General rules end

header {
    height: @menu-line-height;

    nav {
        width: 100%;
        margin: 0 auto;

        // Per default, hide the menu
        .toggle + a,
        [id^=drop],
        .menu {
            display: none;
        }

        // Display Dropdown when clicked on Parent Lable
        [id^=drop]:checked + ul {
            display: block;
        }

        // Show our labels
        .toggle {
            cursor: pointer;
            display: block;
            padding: 0 20px;
            font-size: 1.2em;
            border: none;
            line-height: @menu-line-height;

            &:hover { 
                background-color: @menu-text-color; 
                color: @menu-background-color;
            }
        }

        ul {
            position: relative;
            float: right;
            padding: 0;
            list-style: none;
            width: 100%;
            margin: 0;

            ul {
                display: none;
            }

            li {
                margin: 0;
                padding: 0;
                position: relative;
                list-style: none;
                float: left;
                width: 100%;
                background-color: @menu-background-color;

                a, .toggle {
                    text-transform: uppercase;
                    padding: 0 @menu-link-padding;
                    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
                    width: 100%;
                    line-height: @menu-line-height;
                }

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 1.2em;

                    &:hover { 
                        background-color: @menu-text-color; 
                        color: @menu-background-color;
                    }
                }
            }
        }
    }
}

// Main content
.body-wrapper {
    background: @theme-color;
    padding: 5px 0 20px 0;

    .body-content {
        width: @wrapper-width;
        margin: 0 auto;
        
        h1 {
            color: #ffffff;        
            font-size: 2.5em;
            font-weight: 700;
            text-shadow: 1px 1px 1px rgba(0,0,0,.2);
            letter-spacing: -2px;
            text-transform: uppercase;
        }
    
        article {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 5px #888888;
            padding: 10px;
            singleEventWrapper {  
                @border-color: #dadada;
                
                border-bottom: 1px dotted @border-color;
                flex-wrap: wrap;
                display: flex;

                eventTime {
                    position: relative;
                    float: left;
                    width: 10%;
                    max-width: 200px;
                    display: block;
                    text-align: center;
                }
    
                eventDescription {
                    position: relative;
                    float: left;         
                    max-width: 90%;
                    display: block;
                    padding-left: 10px;
                    border-left: 1px dotted @border-color;
                }
            }

            .deep-link {
                text-decoration: none;
                color: @dark-gray;

                h2 {
                    font-size: 2em;
                    font-weight: 400;
                }
            }
            
            img {
                width: 100%;
                border: 1px solid #e6e6e6;
                border-radius: 2px;
                box-shadow: 1px 1px 3px 1px rgba(0,0,0,.04);
            }
        }
    }
}

footer {
    width: @wrapper-width;
    margin: 0 auto;
}

@media screen and (min-width: 767px) {
    .body-content {
        max-width: @max-width;
    }

    header {
        nav {
            width: @wrapper-width;
            max-width: @max-width;

            // Reverse the default value
            .menu {
                display: block;
                width: auto;
            }

            // Hide labels and other mobile-sepcific content
            .toggle,
            [id^=drop] {
                display: none;
            }
    
            ul {
                
                .toggle {
                    display: inline;
                }

                ul {
                    position: absolute;
                    top: 50px;
                    
                    .toggle {
                        display: block;
                        width: auto;
                    }

                    li {
                        width: @menu-width;
                        a, .toggle {
                            display: block;
                            line-height: normal;
                            padding: @menu-link-padding;
                        }
                    }

                    ul {
                        li {
                            position: relative;
                            top: -@menu-line-height; // Substract the line-height                            
                            right: @menu-width; // Shift it to the right
                        }
                    }
                }
    
                li {
                    width: auto;                    
    
                    a, .toggle {
                        display: inline;
                        width: auto;
                        line-height: @menu-line-height;
                        padding: @menu-link-padding;
                    }
                }
            }
        }
    }
}