@{
  ViewData["Title"] = "Forside";
}

<h1>Lovsangsplade</h1>

<article>
  <img src="https://aa-festival.dk/wp-content/uploads/2017/05/Elske-som-dig-1024x906.png">
  <p>ELSKE SOM DIG er en lovsangsplade med 10 sange fra Å-festival 2017 og årene før. Den er til dig, der gerne vil have lovsangen med hjem og nyde lovsange i moderne arrangementer med tekster på dansk.</p>
  <p>Vi ønsker at fortælle om Jesus! At Jesus har vundet over døden og givet os et evigt håb. Vi synger af taknemmelighed til ham som gav sig selv på korset, og vi synger med glæde til hinanden om Guds underfulde gerninger og løfter.</p>
  <p>Må disse sange om vores Gud blive til velsignelse og opmuntring for mange og må du få lov at finde håb, glæde og fred hos Gud, som elsker dig ubeskriveligt højt!</p>
  <p>Lyt til et sneak peak af nogle af sangene i <a href="https://www.facebook.com/aafestivalofficial/videos/1672983392715280/">videoen her</a>.</p>
  <hr />
  <a class="deep-link" href="#akkorder-og-tekster">
    <h2 id="#akkorder-og-tekster">Akkorder og tekster</h2>
  </a>
</article>