<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - awesome_site</title>

  <environment include="Development">
    <link rel="stylesheet/less" type="text/css" href="~/css/site.less" />
  </environment>
  <environment include="Production">
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" />
  </environment>
</head>
<body>
  <header>
    <nav id="main_menu">
      <label for="drop" class="toggle">Menu</label>
      <input type="checkbox" id="drop" />
      <ul class="menu">
        <li><a href="#">Lovsangsplade</a></li>
        <li><a href="#">Galleri</a></li>
        <li>
          <label for="drop-1" class="toggle">Arkiv +</label>
          <input type="checkbox" id="drop-1" />
          <ul>
            <li><a href="#">Themes and stuff</a></li>
            <li>
              <label for="drop-2" class="toggle">Plugins +</label>
              <input type="checkbox" id="drop-2" />
              <ul>
                <li><a href="#">Drop content 1</a></li>
                <li><a href="#">Drop content 2</a></li>
                <li><a href="#">Drop content 3</a></li>
              </ul>
            </li>
            <li><a href="#">Tutorials</a></li>
          </ul>
        </li>
        <li><a href="#">Information</a></li>
      </ul>
    </nav>
  </header>

  <div class="body-wrapper">
    <div class="body-content">    
      <div>
          @RenderBody()
      </div>
    </div>
  </div>
  <footer>
    <p>&copy; 2017 - awesome_site</p>
  </footer>

  <environment include="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.3/less.min.js" asp-append-version="false"></script>
  </environment>
</body>
</html>
